.Editor-root {
    padding: 15px;
    background: #fff;
    border: 1px solid #ddd;
    font-size: 16px;
    margin: 10px auto;
    width: 800px;
    min-height: 400px;
}

.Editor-toolbar {
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #ddd;
}

.Editor-styleButton {
    color: #999;
    cursor: pointer;
    margin-right: 16px;
    display: inline-block;
}

.Editor-activeButton {
    color: #5890ff;
}

.Editor-editor .public-DraftEditorPlaceholder-root,
.Editor-editor .public-DraftEditor-content {
  margin: 0 -15px -15px;
  padding: 15px;
}