.Editor-root {
    padding: 15px;
    background: #fff;
    border: 1px solid #ddd;
    font-size: 16px;
    margin: 10px auto;
    width: 800px;
    min-height: 400px;
}

.Editor-toolbar {
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #ddd;
}

.Editor-styleButton,
.Editor-actionButton {
    color: #999;
    cursor: pointer;
    margin-right: 16px;
    display: inline-block;
}

.Editor-activeButton {
    color: #5890ff;
}

.Editor-editor .public-DraftEditorPlaceholder-root,
.Editor-editor .public-DraftEditor-content {
  margin: 0 -15px -15px;
  padding: 15px;
}

.debug-button {
    margin: 0 10px 15px 0;
}

 /* 添加链接的对话框  */
.add-link-dialog .get-info {
    display: flex;
}

.add-link-dialog .get-info label {
    flex: 0 1 150px;
}

.add-link-dialog .get-info input {
    flex: 3;
    margin-right: 45px;
}

.add-link-dialog .buttons {
    text-align: center;
}

.add-link-dialog .buttons button {
    margin: 0 10px;
}
